<div class="text-center">
  <h1>Users</h1>

  <table>
    <thead>
      <tr>
        <th></th> 
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New user', new_user_path, class: 'btn btn-success' %>
</div>