body{
	/*background-color: rgb(216, 216, 253);*/
}

.container{
	padding: 0px;
}

a, li a, a li{
	text-decoration: none;
}

a:hover{
	text-decoration: none;
}

.btn{
	padding: 20px 48px;
}


td a{
	font-size: 1.4em;
}

.text-center{
	text-align: center;
	margin: 0 auto;
}

table{
	margin: 0 auto;
	width: 100%;
	border-color: rgba(235,96,78,1);
	padding: 20px;
}

textarea{
	width: 80%;
	height: 40px;
}

a{
	color:black;
}

li{
	text-decoration: none;
	list-style-type: none;
}

th{
	text-align: center;
}

tr{
	border: 3px solid;
	border-color: rgba(235,96,78,1);
}

td{
	padding: 20px 5px;
}

.bs-glyphicons .glyphicon {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 24px;
}

.glyphicon:empty {

}

.eighteen{
	width: 40px;
	height: 40px;
}

.nav-tabs > li{
	width: 48%;
}

.navbar-nav li:hover{
background-color: white;
color:black;
}

ul.nav-tabs{
	width: 100%;
	margin: 0 auto;
}

.glyphicon{
	font-size: 2.8em;
}

.category-icon{
	width: 10%;
}

/*Index pages for word and sentence*/

.hide-text{
	display: none;
}

.show-text{
	
}

.btn-success{
	background-color:rgba(235,96,78,1);
	border-color: rgba(235,96,78,1);
}

.btn-success:hover{
	background-color:rgba(215,96,78,1);
	border-color: rgba(255,96,78,1);
}

.words-index td.content-container{
	font-size: 1.4em;
}

.black-box-border{
	border: 1px solid;
	border-color: rgba(235,96,78,1);
	padding: 20px 30px;
	width: 100%;
	margin: 0px auto;
	text-decoration: none;
}

.black-box-border a{
	text-decoration: none;
}

.black-box-border a:hover{
	background-color: black;
	color: white;
}

.content-container{
	width: 40%;
}
.glyphicon-container{
	width: 10%;
}

.navbar-default{
	background-color:rgba(235,96,78,1);
	color:white;
}

.navbar-default .navbar-brand{
	color:white;
}
.navbar-default .navbar-nav>li>a{
	color:white;
}

h1#logo{
	margin: 0px;
	padding: 10px 20px;
	font-size: 1.6em;
}

.category-choice:hover li{
	background-color:rgba(235,96,78,1);
	color: white;
}

.content-container td{
	font-size: 1.4em;
}

.category-choice li{
	font-size: 1.4em;
}

.native-content-box{
	display: none;
}

.target-content-box{
	display: inline;
}



