<h1>Choose a category</h1>


<ul id="myTab" class="nav nav-tabs">
  <li class="active" ><a href="#generic" data-toggle="tab">General</a></li>
  <li><a href="#custom" data-toggle="tab">Custom</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane fade in active" id="generic">
    <h2>Generic categories</h2>
    <ul>
    <% @categoriesgeneric.each do |g| %>
      <li class="black-box-border"><%= link_to g.category, g %></li>
    <% end %>
    </ul>
  </div>
  <div class="tab-pane fade" id="custom">
      <h2>Custom categories</h2>
      <ul>
      <% @categoriescustom.each do |c| %>
      <li class="black-box-border"><%= link_to c.category, c %></li>
    <% end %>
    </ul>
  </div>
</div>






<br>

<%= link_to 'New Category', new_category_path, class: 'btn btn-success' %>
