<h1>Test</h1>
<p>The category is <%= @category.category %></p>

<span id="dummy" onclick="playSound(this, '/assets/glass.wav');">
      <img src="short_a/bat.jpg" name="Bottom-1" width="115" height="45" border="0" id="Bottom-1"/>
    </span>